@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Merriweather&family=Poppins:wght@400&display=swap');;

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
    --light-color: #f2f2f2;
    --body-color: #4f5f75;
    --heading-color: #8c4b45;
    --contrast-color: #4d5da7;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Poppins';
    background-color: rgb(79, 95, 115);
    /* background-image: linear-gradient(90deg, rgb(79,95,115),rgb(37, 39, 41)); */
    color: var(--body-color);
}

#bodyText {
    padding-left: 2%;
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: 'Marcellus';
    color: #F2F2F2;
    padding-left: 5px;
}

body#avatar img { height: 15em; }

#avatar {
    max-width: 20em;
}

.portfolioIMG {
    max-width: 20em;
}

p {
    max-width: 50em;
}

body {
    display: grid;
    grid-template-areas: "head head"
                         "nav nav"
                         "main main"
                         "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 25em) {
    body {
        grid-template-areas: "head head"
                             "nav main"
                             "foot foot";
        grid-template-rows: auto 1fr auto;
    }
}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
    text-align: left;
}

body > header {
    grid-area: head;
    color: #4f5f75;
}

body > nav {
    grid-area: nav;
}

body > nav a {
    color: #F2F2F2;
    text-decoration-color: #f2f2f2;
}

body > nav a:hover {
    color: #8c4b45;
}

body > nav ul {
    list-style-type: none;
    padding: 0;
}

body > main {
    grid-area: main;
    color: #F2F2F2;
}


body > main a {
    color: #f2f2f2;
    text-decoration-color: #FEFBEA;
}

body > main a:hover {
    color: #b1706a;
}

body > footer {
    grid-area: foot;
    color: #F2F2F2;
}

header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1, footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 25em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
}